# Required Vars
API_HASH=
API_ID=
BOT_TOKEN=
DATABASE_URI=
LOG_CHANNEL=

# Optional Vars
SUDO=
DATABASE_NAME=MissKatyDB
SUPPORT_CHAT=II_StarkxRich_II
COMMAND_HANDLER=
USER_SESSION=
OPENAI_API=
GOOGLEAI_API=
CURRENCY_API=
